<div class="w3-card-4 w3-padding">
  <div class="w3-padding">
  <h1 class="w3-center">App Horario - Mongodb y NodeJS</h1>
  <p class="w3-opacity w3-center"><i>Aplicación creada por Juan Guevara</i></p>
  <hr>
  <div class="w3-padding w3-margin-top">
    <p class="w3-center">En esta aplicación puedes gestionar tus tareas y tu horario escolar de una forma muy sencilla
      y práctica.</p>
  </div>
  </div>
</div>