<div class="w3-col l2 m0 s0 w3-padding"></div>
<form class="w3-col l8 m12 s12 w3-center w3-card-4 w3-padding" action="/Register" method="POST">
  <h3>Registrarse</h3>
  <input class="w3-input w3-margin-top w3-margin-bottom" type="text" name="name" placeholder="Nombre" required autofocus value="{{name}}">
  <input class="w3-input w3-margin-top w3-margin-bottom" type="text" name="user" placeholder="Nombre de Usuario" required value="{{user}}">
  <input class="w3-input w3-margin-top w3-margin-bottom" type="password" name="password" placeholder="Contraseña" required>
  <input class="w3-input w3-margin-top w3-margin-bottom" type="password" name="confirm_password" placeholder="Confirmar contraseña" required>
  <input style="width: 100%" class="w3-button w3-black" type="submit" value="Registrarse">
</form>